{% extends 'index.html' %}

{% block content %}
    <h1>Пост</h1>
    <strong>{{ post.title }}</strong>
    <hr>
    <p>{{ post.description }}</p>
    <p>{{ post.created_at }}</p>
    <hr>
    {% if post.image %}
        <img src="{{ post.image.url }}">
    {% endif %}
    <hr>
    {% if user.is_staff %}
        <a href="{% url 'update_post' post.pk %}" class="btn btn-info">Изменить</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Удалить</a>
    {% endif %}
    <a href="{% url 'add_comment' post.pk %}" class="btn btn-primary">Добавить комментарий</a>
    <hr>
    {% if post.comments.all %}
        <h4>Комментарии</h4>
        {% for comment in post.comments.all %}
            <p>{{ comment.description }} - {{ comment.created_at }}</p>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}